<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/semantic/semantic.min.css">
    <script src="css/semantic/semantic.min.js"></script>
    <title>Find 'R m8</title>
</head>
<body>
    <div class="ui menu">
        <div>
        <div>
            <img src="/img/GroupLogo_FindUrM8.jpg" alt="logo">
        </div>
        <div class="right menu">
            <div class="item">
                <div class="ui violet button">Sign up</div>
            </div>
            <div class="item">
                <div class="ui violet basic button">Log-in</div>
            </div>
        </div>
        </div>
    </div>

    
</body>
</html>